*{
    margin: 0;
    padding: 0;
}
.div-entete{
    /* width: 100%;   
    height: 100px; */
    background-color: #f8f7f4;
    display: flex;
    align-items: center;
    justify-content: space-around;
}
#class{
    display: flex;
    justify-content: center;
}
li{
    display: inline;
    padding: 9px;
}
ul{
    list-style-type: none;
    /* display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px; */
}
.test{
    display: none;
}
a{
    color: #000;
    text-decoration: none;
    font-size: 20px;
}
form{
    display: flex;
    align-items: center;
    justify-content: center;
}
input[type=search]{
    border-radius: 50px;
    padding: 10px;
    border: none;
    outline: none;
}
:placeholder-shown{
    font-size: 20px;
}
input[type=submit]{
    background-color: #000;
    color: #f8f7f4;
    padding: 0px 10px;
    height: 40px;
    width: 100px;
    border-radius: 45px;
    font-size: 20px;
}
button{
    border: none;
    outline: none;
    padding: 15px;
    background-color: #f8f7f4;
    font-size: 20px;
}
body{
    overflow: hidden;
    overflow-y: auto;
}
.main1{
    background-color: #f8f7f4;
    padding: 10%;
}
.div1{
    text-align: center;
    line-height: 70px;
    gap: 10px;
    /* display: flex;
    flex-direction: column; */
}
.titre1{
    text-align: center;
    font-size: 45px;
}
/* .div2{
    display:flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    overflow-x: auto;
    overflow: hidden;
    animation-name: designer;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    animation-timing-function: linear;
} */
.slider-1{
    max-width: 100%;
    margin: 50px auto;
    max-height: 100%;
    overflow: hidden;
    border: 1px solid #f1f1f1;
  }
  
  .slider-1 .slider{
    display: flex;
    gap: 10px;
    animation: slider-1 12s infinite ease-in-out;
  }
  
  
  /* .slider-1{
    background:blue;
    flex-shrink: 0;
    padding: 50px 0;
    width: 100%;
    text-align: center;
    font-size: 20px;
    color: #f1f1f1;
  } */
  
  @keyframes slider-1 {

    form{
      transform: translateX(0%);
      } 
      to{
          
              transform: translateX(-100%);
          
      }
  }

.vid1{
    width: 100%;
    border-radius: 10px;
}
.vid2{
    width: 150px;
    border-radius: 10px;
}
video{
    width: 50%;
    border-radius: 10px;
}
@keyframes designer{
    form{
    transform: translateX(0%);
    } 
    to{
        
            transform: translateX(-100%);
        
    }
    /* overflow: hidden; */
    /* 0%,10%{transform: translateX(0%);}
    20%,30%{transform: translateX(30%);}
    40%,50%{transform: translateX(50%);}
    60%,70%{transform: translateX(60);}
    80%,85%{transform: translateX(-70%);}
    85%,90%{transform: translateX(-90%);}
    100%{transform: translateX(-100%);} */
}
.rou{
    /* width: 50%; */
}
.vi video{
    width: 50%;
}
.million{
    border: 1px solid black;
    border-radius: 20px;
    font-size:20px;
    padding: 1%;
    width: 10px;
    animation-name: mill;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
@keyframes mill{
    0%{background-color: #ffda79;}
    25%{background-color: #ffabe7;}
    50%{background-color: #d2bcf3;}
    75%{background-color: edf3d8;}
    100%{background-color: #ffda79;}
}
p{
    font-size: 20px;
}
.para{
    font-size: 90px;
}
.bouton{
    border: 1px solid black;
    color: #FFF;
    background-color: #000;
    padding: 2%;
    border-radius: 40px;
}
img{
    width: 100%;
    border-radius: 3%;
}
.photo{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    padding: 10%;
}
.brow{
    color: #000;
    border-radius: 20px;
    /* padding: 3%; */
    background-color: #FFF;
    border: 1px solid black;
    margin-bottom: 10px;
}
.main3{
    background-color: #ffda79;
    line-height: 36px;
    padding: 10%;
    text-align: center;
}
.fond{
    display: flex;
    align-items: center;
    justify-content: center;
    gap:1%;
    padding: 2%;
}
.start{
border: 1px solid black;
border-radius: 25px;
background-color: #000;
color: #f8f7f4;
padding:18px;
}
.hiring{
    border: 1px solid #f8f7f4;
    border-radius: 27px;
    background-color: #f8f7f4;
    padding: 18px;
}
.titre{
    font-size: 60px;
    padding: 20px;
}
.lig{
    font-size: 30px;
    line-height: 50px;
}
.join{
    text-decoration: underline;
}
.art{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.foot1{
    display: flex;
    gap: 10px;
    /* overflow: hidden; */
    /* overflow-x: auto; */
    /* overflow-y: hidden; */
    animation-name: picture;
    animation-duration: 35s;
    animation-iteration-count: infinite;
    max-width: 90%;
    animation-timing-function: linear;
}
.foot1 > img{
width: 160px;
box-shadow: #f8f7f4;
overflow: hidden;
}
.foot2{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10%;
}
.foot3{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2%;

}
@keyframes picture {
    form{
        transform: translateX(0%);
    }
    to{
        transform: translateX(-100%);
    }
    /* 0%{transform: translateX(0%);}
    20%{transform: translateX(20%);}
    40%{transform: translateX(-40%);}
    60%{transform: translateX(-60%);}
    100%{transform: translateX(-100%);} */
}
.foot1::-webkit-scrollbar{
    display: none;
}
.teste{
    display: none;
}
/* .teste:hover + ul {
    display: block;
    color: red;
    display: flex;
    flex-wrap: nowrap;
    padding: 10px;
} */
/* @media screen and (max-width:900px) {
    .div-entete{
        display: flex;
        flex-direction: column;
    }
    ul{
        display: flex;
        flex-wrap: wrap;
    }
    .div2{
    display:flex;
    padding: 10%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    animation-name: designer;
    animation-duration: 15s;
    animation-iteration-count: infinite;
    animation-direction: normal;
    max-width: 40%;
}
.million{
    border: 1px solid black;
    border-radius: 20px;
    font-size:18px;
    padding: 0;
    width: 10px;
    animation-name: mill;
    animation-duration: 5s;
    animation-iteration-count: infinite;
    animation-direction: normal;
}
.div1{
    text-align: center;
    line-height: 70px;
    gap: 10px;
    margin-top: 55px;
}
.inscription{
    display: flex;
    flex-wrap: nowrap;
}
} */
@media screen  and (min-width:350px) and (max-width:500px) {
    /* *{
        border: 1px solid red;
    } */
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .teste{
        display: block;
    }
    .teste:hover+ul{
        display: block;
        display: flex;
        padding: 10px;
    }
    ul{
        display: none;
        padding: 10px;
    }
    li{
        display: inline;
        padding: 9px;
    }
    .div-entete{
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .million{
        font-size: 16px;
    }
    .para{
        font-size: 60px;
    }
    .div2 > img{
        width: 50%;
    }
    .div2 > .vi{
        width: 55%;
    }
    .div2 > .vid1{
        width: 56%;
    }
    .div2 > .vid2{
        width: 50%;
    }
    .photo{
        display: flex;
        flex-direction: column;
    }
    video{
        width: 100%;
        height: 20rem;
        border-radius: 10px;
    }
    .slider-1{
        max-width: 100%;
        margin: 50px auto;
        max-height: 100%;
        overflow: hidden;
        border: 1px solid #f1f1f1;
      }
      .vid1{
        border-radius: 10px;
        width: 100%;
      }
      
      .slider-1 .slider{
        display: flex;
        gap: 10px;
        animation: slider-1 12s infinite ease-in-out;
      }
      @keyframes slider-1 {
    
        form{
          transform: translateX(0%);
          } 
          to{
              
                  transform: translateX(-500%);
              
          }
      }
    
}
@media screen  and (min-width:501px) and (max-width:800px) {
    /* *{
        border: 1px solid red;
    } */
    body{
        width: 100%;
    }
    header{
        width: 100%;
    }
    main{
        width: 100%;
    }
    footer{
        width: 100%;
    }
    .teste{
        display: block;
    }
    .teste:hover+ul{
        display: block;
        display: flex;
        padding: 10px;
    }
    ul{
        display: none;
        padding: 10px;
    }
    li{
        display: inline;
        padding: 9px;
    }
    .div-entete{
        display: flex;
        flex-direction: column;
    }
    form{
        display: flex;
        flex-direction: column;
    }
    .million{
        font-size: 16px;
    }
    .para{
        font-size: 60px;
    }
    .div2 > img{
        width: 50%;
    }
    .div2 > .vi{
        width: 55%;
    }
    .div2 > .vid1{
        width: 56%;
    }
    .div2 > .vid2{
        width: 50%;
    }
    .photo{
        display: flex;
        flex-direction: column;
    }
    video{
        width: 100%;
        height: 20rem;
        border-radius: 10px;
    }
    .slider-1{
        max-width: 100%;
        margin: 50px auto;
        max-height: 100%;
        overflow: hidden;
        border: 1px solid #f1f1f1;
      }
      .vid1{
        border-radius: 10px;
        width: 100%;
      }
      
      .slider-1 .slider{
        display: flex;
        gap: 10px;
        animation: slider-1 12s infinite ease-in-out;
      }
      @keyframes slider-1 {
    
        form{
          transform: translateX(0%);
          } 
          to{
              
                  transform: translateX(-500%);
              
          }
      }
}